In [1]:
import pandas as pd 
import numpy as np 
import tweepy as tw

In [2]:
API_KEY = 'B7Y17gCCAfTe515xuZwGhuVlH' 
API_KEY_SECRET = '1lGo5GPcilwKzNy4SVGbgleI285oTK0zF2TAAKbb69vj6PFu3n' 
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAEv7yYYtpXWXx6fv24Q9I4DnzqMg%3DEtLytFqguYLOAE8aSrFVmkK28FWlTGlKJ9PutxDf0QgGsGg8sX'
BEARER_TOKEN2 = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAswdCYqqlZc1l%2BY1nOh7zYn2GaW4%3DA6vVrRYXf8JtlKVkbdok2Ej5m174CQskMQi2MOL8fUaTdby5uL'
ACCESS_TOKEN = '1440392138697547777-ZbNqj8Vz27k9mk4s009V76REekQpoY' 
ACCESS_TOKEN_SECRET = 'ik2qalQeHpdw5cbU6QNtqZl2HYnmDVRQ1cRPbv9WPpywu'

In [3]:
client = tw.Client(bearer_token=BEARER_TOKEN2)

# Specified Accounts For Sport

* @espn: Serving sports fans. Anytime. Anywhere. , 39.9M Followers 
* @SInow: Sports Illustrated, Subscribe to the SI Weekly podcast: http://link.chtbl.com/siweekly, 1.8M Followers
* @MLBONFOX: Home of FOX Saturday Baseball, MLB All-Star Game, World Series, and all things baseball, 1M Followers,

In [4]:
user_names = ['espn', 'SInow', 'MLBONFOX'] 
user_names

['espn', 'SInow', 'MLBONFOX']

In [5]:
users = client.get_users(usernames=user_names)
users

Response(data=[<User id=2557521 name=ESPN username=espn>, <User id=28370738 name=Sports Illustrated username=SInow>, <User id=22819823 name=FOX Sports: MLB username=MLBONFOX>], includes={}, errors=[], meta={})

In [6]:
users.data[0].id

2557521

In [13]:
tweet_group_list = []
limit = 3000 
for user in users.data: 
    tweet_list = [] 
    for tweet in tw.Paginator(client.get_users_tweets, id=user.id, max_results=100, tweet_fields=['lang']).flatten(limit=limit): 
        if tweet.lang == 'en' or tweet.lang == 'EN': 
            tweet_list.append(tweet)
    
    tweet_group_list.append(tweet_list)    
    limit = 1000

In [14]:
 len(tweet_group_list)

3

In [15]:
[len(item) for item in tweet_group_list]

[2903, 989, 937]

In [16]:
sum([len(item) for item in tweet_group_list])

4829

In [17]:
tweet_group_list[0][1]

# Save it as a CSV File

In [18]:
# id, tweet_text, source
data_list = [] 
i = 0 
for tweet_group in tweet_group_list: 
    for tweet in tweet_group: 
        item = {} 
        item['tweet_id'] = tweet.id
        item['text'] = tweet.text
        item['source'] = user_names[i] 
        
        data_list.append(item)
    i = i + 1     
    
len(data_list)

4829

In [19]:
data = pd.DataFrame(data=data_list)
data.head()

,tweet_id,text,source
0,1515019416299315201,"Mike Bossy, one of hockey's most prolific goal...",espn
1,1515008964932603907,Jackie Robinson Way ðŸ™Œ #jackie42\n\n(via @MLB) ...,espn
2,1515005714560860163,Will James Harden show up this postseason?\n\n...,espn
3,1515003597133598722,Clippers star Paul George has entered the leag...,espn
4,1514988865202925572,RT @DickieV: It was RING THE BELL TIME ! Yes i...,espn

In [21]:
data.to_csv('sport_usa.csv')