In [1]:
import pandas as pd 
import numpy as np 
import tweepy as tw

In [2]:
API_KEY = 'B7Y17gCCAfTe515xuZwGhuVlH' 
API_KEY_SECRET = '1lGo5GPcilwKzNy4SVGbgleI285oTK0zF2TAAKbb69vj6PFu3n' 
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAEv7yYYtpXWXx6fv24Q9I4DnzqMg%3DEtLytFqguYLOAE8aSrFVmkK28FWlTGlKJ9PutxDf0QgGsGg8sX'
BEARER_TOKEN2 = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAswdCYqqlZc1l%2BY1nOh7zYn2GaW4%3DA6vVrRYXf8JtlKVkbdok2Ej5m174CQskMQi2MOL8fUaTdby5uL'
ACCESS_TOKEN = '1440392138697547777-ZbNqj8Vz27k9mk4s009V76REekQpoY' 
ACCESS_TOKEN_SECRET = 'ik2qalQeHpdw5cbU6QNtqZl2HYnmDVRQ1cRPbv9WPpywu'

In [3]:
client = tw.Client(bearer_token=BEARER_TOKEN2)

# Specified Accounts For Sport

In [4]:
user_names = ['OKMagazine', 'people', 'usweekly', 'etnow', 'PageSix'] 
user_names

['OKMagazine', 'people', 'usweekly', 'etnow', 'PageSix']

In [5]:
users = client.get_users(usernames=user_names)
users

Response(data=[<User id=14353891 name=OK! Magazine USA username=OKMagazine>, <User id=25589776 name=People username=people>, <User id=20012204 name=Us Weekly username=usweekly>, <User id=23603092 name=Entertainment Tonight username=etnow>, <User id=182107650 name=Page Six username=PageSix>], includes={}, errors=[], meta={})

In [6]:
tweet_group_list = []
for user in users.data: 
    tweet_list = [] 
    for tweet in tw.Paginator(client.get_users_tweets, id=user.id, max_results=100, tweet_fields=['lang']).flatten(limit=1000): 
        if tweet.lang == 'en' or tweet.lang == 'EN': 
            tweet_list.append(tweet)
    
    tweet_group_list.append(tweet_list)

In [7]:
len(tweet_group_list)

5

In [8]:
[len(item) for item in tweet_group_list]

[1000, 994, 991, 985, 984]

In [9]:
sum([len(item) for item in tweet_group_list])

4954

In [10]:
tweet_group_list[0][1]

# Save it as a CSV File

In [11]:
# id, tweet_text, source
data_list = [] 
i = 0 
for tweet_group in tweet_group_list: 
    for tweet in tweet_group: 
        item = {} 
        item['tweet_id'] = tweet.id
        item['text'] = tweet.text
        item['source'] = user_names[i] 
        
        data_list.append(item)
    i = i + 1     
    
len(data_list)

4954

In [12]:
data = pd.DataFrame(data=data_list)
data.head()

,tweet_id,text,source
0,1516250242647306256,Word on the street is #TheFlightAttendant pref...,OKMagazine
1,1516235143538692102,Who is #KathieLeeGifford's daughter Cassidy? T...,OKMagazine
2,1516220047399821319,Internet trolls are having a field day at #Jad...,OKMagazine
3,1516212488852889605,These stars know how to stay in the spotlight!...,OKMagazine
4,1516204958198153220,Relationship on the rocks! #CaseyAffleck &amp;...,OKMagazine

In [13]:
data.to_csv('magazine_usa.csv')