In [1]:
import pandas as pd 
import numpy as np 
import tweepy as tw

In [2]:
API_KEY = 'B7Y17gCCAfTe515xuZwGhuVlH' 
API_KEY_SECRET = '1lGo5GPcilwKzNy4SVGbgleI285oTK0zF2TAAKbb69vj6PFu3n' 
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAEv7yYYtpXWXx6fv24Q9I4DnzqMg%3DEtLytFqguYLOAE8aSrFVmkK28FWlTGlKJ9PutxDf0QgGsGg8sX'
BEARER_TOKEN2 = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAswdCYqqlZc1l%2BY1nOh7zYn2GaW4%3DA6vVrRYXf8JtlKVkbdok2Ej5m174CQskMQi2MOL8fUaTdby5uL'
ACCESS_TOKEN = '1440392138697547777-ZbNqj8Vz27k9mk4s009V76REekQpoY' 
ACCESS_TOKEN_SECRET = 'ik2qalQeHpdw5cbU6QNtqZl2HYnmDVRQ1cRPbv9WPpywu'

In [3]:
client = tw.Client(bearer_token=BEARER_TOKEN2)

In [4]:
user_names = ['AnytimeFitness', 'MensHealthMag', 'Bodybuildingcom', 'WomensHealthMag', 'clubindustry'] 
user_names

['AnytimeFitness',
 'MensHealthMag',
 'Bodybuildingcom',
 'WomensHealthMag',
 'clubindustry']

In [5]:
users = client.get_users(usernames=user_names)
users

Response(data=[<User id=18488763 name=Anytime Fitness username=AnytimeFitness>, <User id=25093616 name=Men's Health Mag username=MensHealthMag>, <User id=25234311 name=Bodybuilding.com username=Bodybuildingcom>, <User id=25087685 name=Women's Health username=WomensHealthMag>, <User id=76359660 name=Club Industry username=clubindustry>], includes={}, errors=[], meta={})

In [6]:
users.data[0].id

18488763

In [7]:
tweet_group_list = []
for user in users.data: 
    tweet_list = [] 
    for tweet in tw.Paginator(client.get_users_tweets, id=user.id, max_results=100, tweet_fields=['lang']).flatten(limit=1000): 
        if tweet.lang == 'en' or tweet.lang == 'EN': 
            tweet_list.append(tweet)
    
    tweet_group_list.append(tweet_list)

In [8]:
len(tweet_group_list)

5

In [9]:
[len(item) for item in tweet_group_list]

[999, 995, 690, 984, 997]

In [10]:
sum([len(item) for item in tweet_group_list])

4665

In [11]:
tweet_group_list[0][1]

<Tweet id=1516795896624816138 text="Stressed out? ðŸ˜©\nTired? ðŸ˜´\nWorn down? ðŸ˜°\nWhat do those have in common? They're all perfect reasons to come into the gym and work out with us. We promise you'll leave feeling a little more relaxed, energized and ready to tackle what's ahead. That's #realAF. https://t.co/XBaQu387Ki">

# Save it as a CSV File

In [12]:
# id, tweet_text, source
data_list = [] 
i = 0 
for tweet_group in tweet_group_list: 
    for tweet in tweet_group: 
        item = {} 
        item['tweet_id'] = tweet.id
        item['text'] = tweet.text
        item['source'] = user_names[i] 
        
        data_list.append(item)
    i = i + 1     
    
len(data_list)

4665

In [13]:
data = pd.DataFrame(data=data_list)
data.head()

,tweet_id,text,source
0,1517156201401884672,We know that effectively exercising your legs ...,AnytimeFitness
1,1516795896624816138,Stressed out? ðŸ˜©\nTired? ðŸ˜´\nWorn down? ðŸ˜°\nWhat ...,AnytimeFitness
2,1516430290935296002,Time to get rockin' and *foam* rollin' ! Last ...,AnytimeFitness
3,1516031104242831362,"@that_zach_berg Hi Zach, can you please DM us?...",AnytimeFitness
4,1516030789586231301,"@iam_rahulsingh @vikasjain1977 Hi, thank you f...",AnytimeFitness

In [14]:
data.to_csv('fitnes-health_usa.csv')