In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
pd.read_csv("")

      Unnamed: 0                                           magazine
0              0  ['word', 'street', 'theflightattend', 'preflig...
1              1  ["kathieleegifford'", 'daughter', 'cassidi', '...
2              2  ['internet', 'troll', 'field', 'day', "jadensm...
3              3  ['star', 'know', 'stay', 'spotlight', 'see', '...
4              4  ['relationship', 'rock', 'caseyaffleck', 'gf',...
...          ...                                                ...
9949        9949  ['arizona', 'becom', 'first', 'state', 'offer'...
9950        9950  ['googl', 'move', 'movi', 'tv', 'tab', 'play',...
9951        9951  ['meet', 'grow', 'founder', 'network', 'small'...
9952        9952  ['microsoft', 'want', 'build', 'next', 'game',...
9953        9953  ['onepointon', 'want', 'piec', 'vertic', 'farm...

[9954 rows x 2 columns]