# Explanation 

This notebook is going to include all the models which are build using Neurol Networks approach. 
I specified some bunch of models that I am going to deploy. 

- to do: Models will be stayed here ! Dont forget !

# Get the Data

In [2]:
import pandas as pd 

data = pd.read_csv("../datasets/deep_data_merged_all_class.csv")
data.head()

   Unnamed: 0                                               text  target
0           0  We know that effectively exercising your legs ...       0
1           1  Stressed out? ðŸ˜©\r\nTired? ðŸ˜´\r\nWorn down? ðŸ˜°\r\...       0
2           2  Time to get rockin' and *foam* rollin' ! Last ...       0
3           3  @that_zach_berg Hi Zach, can you please DM us?...       0
4           4  @iam_rahulsingh @vikasjain1977 Hi, thank you f...       0

In [3]:
train_df_shuffled = data.sample(frac=1, random_state=42) 
train_df_shuffled.head()

       Unnamed: 0                                               text  target
644           644  @chriskrieger91 Hi, thanks for reaching out! W...       0
23615        4272  New episode of the @JalenRose: Renaissance Man...       5
17142        2680  Gordon Ramsay Hellâ€™s Kitchen will open in Chic...       4
9962          468  N95s, which seal tighter to the face, offer be...       2
19789         446  From exorcisms to weddings â€” the #Grammys have...       5

##### Balanced Dataset

In [4]:
train_df_shuffled.target.value_counts()

3    4976
2    4968
5    4954
4    4881
1    4829
0    4665
Name: target, dtype: int64

In [5]:
import random 
random_index = random.randint(0, len(data) - 5) 

for  _, text, target in train_df_shuffled[['text', 'target']][random_index:random_index+5].itertuples():
  print(f"Target: {target}", "(real disaster)" if target > 0 else "(not real disaster)")
  print(f"Text:\n{text}\n")
  print("---\n")

Target: 3 (real disaster)
Text:
LG halts all shipments to Russia https://t.co/Wa5aFsJeAM https://t.co/ozRMTqBUJU

---

Target: 2 (real disaster)
Text:
Arizona Republican Gov. Doug Ducey says he will not run for a Senate seat, ending speculation whether he would challenge incumbent Democratic Sen. Mark Kelly https://t.co/zmVl66Y8Px

---

Target: 1 (real disaster)
Text:
Roy Williams is ALL of Tar Heels fans right now ðŸ™Œ

(via @MarchMadnessMBB) https://t.co/PGQjIg4ETo

---

Target: 5 (real disaster)
Text:
Cole Sprouse says child actors never turn out OK: 'Fame is trauma' https://t.co/1vfmFVDUmu https://t.co/gwka9MhX4s

---

Target: 2 (real disaster)
Text:
A bipartisan group of senators is trying to extend pandemic school meal waivers that gave districts extra federal funds to provide free food to more kids https://t.co/mndgnjPgio

---