# Explanation 

This notebook is going to include all the models which are build using Neurol Networks approach. 
I specified some bunch of models that I am going to deploy. 

- to do: Models will be stayed here ! Dont forget !

# Get the Data

In [1]:
import pandas as pd 

data = pd.read_csv("../datasets/deep_data_merged_all_class.csv")
data.head()

   Unnamed: 0                                               text  target
0           0  We know that effectively exercising your legs ...       0
1           1  Stressed out? ðŸ˜©\r\nTired? ðŸ˜´\r\nWorn down? ðŸ˜°\r\...       0
2           2  Time to get rockin' and *foam* rollin' ! Last ...       0
3           3  @that_zach_berg Hi Zach, can you please DM us?...       0
4           4  @iam_rahulsingh @vikasjain1977 Hi, thank you f...       0

In [2]:
train_df_shuffled = data.sample(frac=1, random_state=42) 
train_df_shuffled.head()

       Unnamed: 0                                               text  target
644           644  @chriskrieger91 Hi, thanks for reaching out! W...       0
23615        4272  New episode of the @JalenRose: Renaissance Man...       5
17142        2680  Gordon Ramsay Hellâ€™s Kitchen will open in Chic...       4
9962          468  N95s, which seal tighter to the face, offer be...       2
19789         446  From exorcisms to weddings â€” the #Grammys have...       5

##### Balanced Dataset

In [3]:
train_df_shuffled.target.value_counts()

3    4976
2    4968
5    4954
4    4881
1    4829
0    4665
Name: target, dtype: int64

In [4]:
import random 
random_index = random.randint(0, len(data) - 5) 

for  _, text, target in train_df_shuffled[['text', 'target']][random_index:random_index+5].itertuples():
  print(f"Target: {target}", "(real disaster)" if target > 0 else "(not real disaster)")
  print(f"Text:\n{text}\n")
  print("---\n")

Target: 3 (real disaster)
Text:
Porsche hits the gas on synthetic fuel with $75M investment https://t.co/SmZjrycFWS by @jaclyntrop

---

Target: 2 (real disaster)
Text:
Jury to weigh fate of 4 men charged in Michigan governor kidnapping plot https://t.co/KcyKPLfftj https://t.co/LmhZy9vujB

---

Target: 2 (real disaster)
Text:
Children as young as 8 should be screened for anxiety: US task force https://t.co/fGCZyK8NuE https://t.co/IoKuwi6OoF

---

Target: 2 (real disaster)
Text:
Democrats blame messaging for their political problems https://t.co/4RByV8fhLz https://t.co/GvqnRrEfH1

---

Target: 2 (real disaster)
Text:
Official review of Trump White House phone logs from January 6 finds record is complete https://t.co/prpLZHOjL7

---

# Split data into training and validation sets

In [5]:
from sklearn.model_selection import train_test_split

# Use train_test_split to split training data into training and validation sets
train_sentences, val_sentences, train_labels, val_labels = train_test_split(train_df_shuffled["text"].to_numpy(),
                                                                            train_df_shuffled["target"].to_numpy(),
                                                                            test_size=0.1,
                                                                            random_state=42)

In [16]:
train_sentences.shape

(26345,)

# Converting text into numbers

## Text vectorization (tokenization)

In [6]:
import tensorflow as tf
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

text_vectorizer = TextVectorization(max_tokens=None, # how many words in the vocabulary (all of the different words in your text)
                                    standardize="lower_and_strip_punctuation", # how to process text
                                    split="whitespace", # how to split tokens
                                    ngrams=None, # create groups of n-words?
                                    output_mode="int", # how to map tokens to numbers
                                    output_sequence_length=None) # how long should the output sequence of tokens be?
                                    # pad_to_max_tokens=True)

In [17]:
# tweet baÅŸÄ±na kelime sayÄ±sÄ± 
round( 
    sum(
        [len(i.split()) for i in train_sentences]
    ) / len(train_sentences)
)

18

In [21]:
max_vocab_length = 10000 
max_length = 18 

text_vectorizer = TextVectorization(max_tokens=max_vocab_length, 
                                    output_sequence_length=max_length)

In [22]:
text_vectorizer.adapt(train_sentences)

In [23]:
sample_sentence = "There is a flood in my suburb!" 
text_vectorizer([sample_sentence])

<tf.Tensor: shape=(1, 18), dtype=int64, numpy=
array([[109,   9,   5,   1,   7,  79,   1,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0]], dtype=int64)>

## Embedding Layer

In [ ]:
text_vectorizer.get_vocabulary()