# Imports

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

# Constants

In [7]:
CLASS_VARIABLES = {
    "FITNESS" : 0, 
    "SPORT": 1,
    "POLITICS" : 2, 
    "TECHNOLOGY": 3, 
    "FOOD": 4, 
    "MAGAZINE": 5, 
}

# Get the Data

In [3]:
fitness_data = pd.read_csv("../datasets/fitnes-health_usa.csv")
sport_data = pd.read_csv("../datasets/sport_usa.csv") 
politicy_data = pd.read_csv("../datasets/politics_usa.csv") 
technology_data = pd.read_csv("../datasets/technology_usa.csv") 
food_data = pd.read_csv("../datasets/food_usa.csv") 
magazine_data = pd.read_csv("../datasets/magazine_usa.csv")

In [4]:
fitness_data.shape

(4665, 4)

In [5]:
fitness_data.head()

,Unnamed: 0,tweet_id,text,source
0,0,1517156201401884672,We know that effectively exercising your legs ...,AnytimeFitness
1,1,1516795896624816138,Stressed out? ðŸ˜©\r\nTired? ðŸ˜´\r\nWorn down? ðŸ˜°\r\...,AnytimeFitness
2,2,1516430290935296002,Time to get rockin' and *foam* rollin' ! Last ...,AnytimeFitness
3,3,1516031104242831362,"@that_zach_berg Hi Zach, can you please DM us?...",AnytimeFitness
4,4,1516030789586231301,"@iam_rahulsingh @vikasjain1977 Hi, thank you f...",AnytimeFitness

In [15]:
fitness_data["target"] = CLASS_VARIABLES["FITNESS"]
sport_data["target"] = CLASS_VARIABLES["SPORT"] 
politicy_data["target"] = CLASS_VARIABLES["POLITICS"] 
technology_data["target"] = CLASS_VARIABLES["TECHNOLOGY"] 
food_data["target"] = CLASS_VARIABLES["FOOD"] 
magazine_data["target"] = CLASS_VARIABLES["MAGAZINE"]

In [16]:
magazine_data.head()

,Unnamed: 0,tweet_id,text,source,target
0,0,1516250242647306256,Word on the street is #TheFlightAttendant pref...,OKMagazine,5
1,1,1516235143538692102,Who is #KathieLeeGifford's daughter Cassidy? T...,OKMagazine,5
2,2,1516220047399821319,Internet trolls are having a field day at #Jad...,OKMagazine,5
3,3,1516212488852889605,These stars know how to stay in the spotlight!...,OKMagazine,5
4,4,1516204958198153220,Relationship on the rocks! #CaseyAffleck &amp;...,OKMagazine,5

In [17]:
sport_data.head()

,Unnamed: 0,tweet_id,text,source,target
0,0,1515019416299315201,"Mike Bossy, one of hockey's most prolific goal...",espn,1
1,1,1515008964932603907,Jackie Robinson Way ðŸ™Œ #jackie42\r\n\r\n(via @M...,espn,1
2,2,1515005714560860163,Will James Harden show up this postseason?\r\n...,espn,1
3,3,1515003597133598722,Clippers star Paul George has entered the leag...,espn,1
4,4,1514988865202925572,RT @DickieV: It was RING THE BELL TIME ! Yes i...,espn,1

In [21]:
data = pd.concat([fitness_data, sport_data, politicy_data, food_data, magazine_data, technology_data], axis=0)
data.head()

,Unnamed: 0,tweet_id,text,source,target
0,0,1517156201401884672,We know that effectively exercising your legs ...,AnytimeFitness,0
1,1,1516795896624816138,Stressed out? ðŸ˜©\r\nTired? ðŸ˜´\r\nWorn down? ðŸ˜°\r\...,AnytimeFitness,0
2,2,1516430290935296002,Time to get rockin' and *foam* rollin' ! Last ...,AnytimeFitness,0
3,3,1516031104242831362,"@that_zach_berg Hi Zach, can you please DM us?...",AnytimeFitness,0
4,4,1516030789586231301,"@iam_rahulsingh @vikasjain1977 Hi, thank you f...",AnytimeFitness,0

In [23]:
data.target.value_counts()

3    4976
2    4968
5    4954
4    4881
1    4829
0    4665
Name: target, dtype: int64

In [25]:
data[["text", "target"]].to_csv("../datasets/deep_data_merged_all_class.csv", index=True)