In [3]:
import pandas as pd 
import numpy as np 
import tweepy as tw

In [4]:
API_KEY = 'B7Y17gCCAfTe515xuZwGhuVlH' 
API_KEY_SECRET = '1lGo5GPcilwKzNy4SVGbgleI285oTK0zF2TAAKbb69vj6PFu3n' 
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAEv7yYYtpXWXx6fv24Q9I4DnzqMg%3DEtLytFqguYLOAE8aSrFVmkK28FWlTGlKJ9PutxDf0QgGsGg8sX'
BEARER_TOKEN2 = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAswdCYqqlZc1l%2BY1nOh7zYn2GaW4%3DA6vVrRYXf8JtlKVkbdok2Ej5m174CQskMQi2MOL8fUaTdby5uL'
ACCESS_TOKEN = '1440392138697547777-ZbNqj8Vz27k9mk4s009V76REekQpoY' 
ACCESS_TOKEN_SECRET = 'ik2qalQeHpdw5cbU6QNtqZl2HYnmDVRQ1cRPbv9WPpywu'

In [5]:
client = tw.Client(bearer_token=BEARER_TOKEN2)

# Specified Accounts For Sport

In [6]:
user_names = ['TechCrunch', 'verge', 'engadget', 'VentureBeat'] 
user_names

['TechCrunch', 'verge', 'engadget', 'VentureBeat']

In [7]:
users = client.get_users(usernames=user_names)
users

Response(data=[<User id=816653 name=TechCrunch username=TechCrunch>, <User id=275686563 name=The Verge username=verge>, <User id=14372486 name=Engadget username=engadget>, <User id=60642052 name=VentureBeat username=VentureBeat>], includes={}, errors=[], meta={})

In [8]:
tweet_group_list = []
limit = 2000 
for user in users.data: 
    tweet_list = [] 
    for tweet in tw.Paginator(client.get_users_tweets, id=user.id, max_results=100, tweet_fields=['lang']).flatten(limit=limit): 
        if tweet.lang == 'en' or tweet.lang == 'EN': 
            tweet_list.append(tweet)
    
        limit = 1000
    tweet_group_list.append(tweet_list)

In [9]:
len(tweet_group_list)

4

In [10]:
[len(item) for item in tweet_group_list]

[1988, 1000, 992, 996]

In [11]:
sum([len(item) for item in tweet_group_list])

4976

In [12]:
tweet_group_list[0][1]

# Save it as a CSV File

In [13]:
# id, tweet_text, source
data_list = [] 
i = 0 
for tweet_group in tweet_group_list: 
    for tweet in tweet_group: 
        item = {} 
        item['tweet_id'] = tweet.id
        item['text'] = tweet.text
        item['source'] = user_names[i] 
        
        data_list.append(item)
    i = i + 1     
    
len(data_list)

4976

In [14]:
data = pd.DataFrame(data=data_list)
data.head()

,tweet_id,text,source
0,1516281911353749504,"The Food Lab, an Egyptian cloud kitchen provid...",TechCrunch
1,1516262064062410752,Tesla says it's also being investigated by fed...,TechCrunch
2,1516228831161503744,Top SoftBank LatAm partners leave firm to star...,TechCrunch
3,1516228259003912197,Ant Group buys Singapore's 2C2P to further glo...,TechCrunch
4,1516221204260179970,Indian crypto exchange CoinDCX tops $2.1 billi...,TechCrunch

In [15]:
data.to_csv('technology_usa.csv')