In [1]:
import pandas as pd 
import numpy as np 
import tweepy as tw

In [2]:
API_KEY = 'B7Y17gCCAfTe515xuZwGhuVlH' 
API_KEY_SECRET = '1lGo5GPcilwKzNy4SVGbgleI285oTK0zF2TAAKbb69vj6PFu3n' 
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAEv7yYYtpXWXx6fv24Q9I4DnzqMg%3DEtLytFqguYLOAE8aSrFVmkK28FWlTGlKJ9PutxDf0QgGsGg8sX'
BEARER_TOKEN2 = 'AAAAAAAAAAAAAAAAAAAAAKALawEAAAAAswdCYqqlZc1l%2BY1nOh7zYn2GaW4%3DA6vVrRYXf8JtlKVkbdok2Ej5m174CQskMQi2MOL8fUaTdby5uL'
ACCESS_TOKEN = '1440392138697547777-ZbNqj8Vz27k9mk4s009V76REekQpoY' 
ACCESS_TOKEN_SECRET = 'ik2qalQeHpdw5cbU6QNtqZl2HYnmDVRQ1cRPbv9WPpywu'

In [3]:
client = tw.Client(bearer_token=BEARER_TOKEN2)

# Specified Accounts For Sport

In [4]:
user_names = ['foodandwine', 'amandafreitag', 'Eater', 'RobertIrvine', 'SouthLadyCooks'] 
user_names

['foodandwine', 'amandafreitag', 'Eater', 'RobertIrvine', 'SouthLadyCooks']

In [5]:
users = client.get_users(usernames=user_names)
users

Response(data=[<User id=30278532 name=Food & Wine username=foodandwine>, <User id=67132107 name=Amanda Freitag username=amandafreitag>, <User id=26329195 name=Eater username=Eater>, <User id=34396691 name=Robert Irvine username=RobertIrvine>, <User id=190924183 name=The Southern Lady Cooks username=SouthLadyCooks>], includes={}, errors=[], meta={})

In [6]:
tweet_group_list = []
for user in users.data: 
    tweet_list = [] 
    for tweet in tw.Paginator(client.get_users_tweets, id=user.id, max_results=100, tweet_fields=['lang']).flatten(limit=1000): 
        if tweet.lang == 'en' or tweet.lang == 'EN': 
            tweet_list.append(tweet)
    
    tweet_group_list.append(tweet_list)

In [7]:
len(tweet_group_list)

5

In [8]:
[len(item) for item in tweet_group_list]

[991, 950, 991, 987, 962]

In [9]:
sum([len(item) for item in tweet_group_list])

4881

In [10]:
tweet_group_list[0][1]

<Tweet id=1516318179894640641 text='Braised chicken legs, soy sauce, vinegar, black pepper, and bay leaf infuse ramen with the flavors of Filipino adobo in this episode of Chefs at Home: https://t.co/MYO8dPdGvZ https://t.co/WwTmySEcnz'>

# Save it as a CSV File

In [11]:
# id, tweet_text, source
data_list = [] 
i = 0 
for tweet_group in tweet_group_list: 
    for tweet in tweet_group: 
        item = {} 
        item['tweet_id'] = tweet.id
        item['text'] = tweet.text
        item['source'] = user_names[i] 
        
        data_list.append(item)
    i = i + 1     
    
len(data_list)

4881

In [12]:
data = pd.DataFrame(data=data_list)
data.head()

,tweet_id,text,source
0,1516326752834002944,A reminder that delivery app restaurants aren'...,foodandwine
1,1516318179894640641,"Braised chicken legs, soy sauce, vinegar, blac...",foodandwine
2,1516311648889417728,Muffin tins are great for meal prepping indivi...,foodandwine
3,1516296543791456260,We tested everything from spicy dill pickle fl...,foodandwine
4,1516290031522127876,Is eating a regular Big Mac the secret to a lo...,foodandwine

In [13]:
data.to_csv('food_usa.csv')